<div class="container">
    <button class="tarefa-finalizada mat-elevation-z8" mat-stroked-button color="warn">TAREFAS FINALIZADAS</button>
    <button class="nova-tarefa mat-elevation-z8" mat-stroked-button color="accent">NOVA TAREFA</button>

    <div class="content conteudo">
        <mat-card class="mat-elevation-z8">
            <p class="conteudo-data">Data para finalizar:</p>
            <mat-card-header>
                <mat-card-title>DoG</mat-card-title>
                <mat-card-subtitle>dog friend</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">
                <button mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
</div>
