.footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    background-color: #e3e3e3;
    justify-content: flex-end;
}

.titulo-footer {
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
}